<!DOCTYPE html>
<html>
    <head>
        <title>PhotoViewer</title>
        <link rel="stylesheet" href="{{ app.request.basepath }}/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css">
    </head>
    <body>
        {% block content '' %}
        <script src="http://code.jquery.com/jquery-latest.js"></script>
    </body>
</html>
