* {
    margin: 0;
    padding: 0;
}

.navbar-inner {
    background-image: -moz-linear-gradient(top, #0F0F0F, #000000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0F0F0F), to(#000000));
    background-image: -webkit-linear-gradient(top, #0F0F0F, #000000);
    background-image: -o-linear-gradient(top, #0F0F0F, #000000);
    background-image: linear-gradient(to bottom, #0F0F0F, #000000);
    border: 1px solid grey;
}

.navbar .brand,
.navbar .nav > li > a {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
