* {
    margin: 0;
    padding: 0;
}

#nav {
    height:20px;
}

#nav li {
    float:left;
}

#nav li em {
    padding: 0 5px;
}

.view dt {
    float:left;
}

.view dt {
    width:100px;
    height:100px;
}
